<div class="navigation">
    <input type="checkbox" class="navigation-checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation-button">
        <span class="navigation-icon">&nbsp;</span>
    </label>

    <div class="navigation-background">&nbsp;</div>

    <nav class="navigation-nav">
        <ul class="navigation-list">
            <li class="navigation-item"><a href="#" class="navigation-link">Our Project</a></li>
            <li class="navigation-item"><a href="#" class="navigation-link">Research Center</a></li>
            <li class="navigation-item"><a href="#" class="navigation-link">Our Clients</a></li>

        </ul>
    </nav>
</div>

<header class="header">
    <div class="logo-home">
        <!-- <img src="assets/image/job1.png" class="logo"> -->
    </div>
    <div class="text-position">
        <h1 class="text-box">
            <span class="text-out">modtech</span>
            <span class="text-life">is where life happens</span>
        </h1>
        <!-- <a href="#" class="btn btn-white btn-animation">Discover our tours</a> -->
    </div>


</header>